<%= form_with model: board, local: true do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control', row: 10, style: 'height: 200px' %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
